body {
  /* font-family: "Hind Guntur", sans-serif; */
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
h1 {
  /* font-family: "Hind Guntur", sans-serif; */
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* CSS OF IMAGE */
.img {
  height: 100%;
  width: 100%;
  z-index: -1;
  margin: 0mm;
  padding: 0mm;
  position: absolute;
}

/* CSS OF NAVBAR */

* {
  box-sizing: border-box;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: transparent;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 26px;
  color: rgb(0, 0, 0);
  padding: 20px 22px 22px 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 21px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 25px 25px 25px 25px;
  text-decoration: none;
  color: #080808;
}

.nav > .nav-links > a:hover {
  background-color: rgba(11, 102, 90, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 1050px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* CSS OF BOX MAIN */

.main {
  display: flex;
  /* border: 3px solid green; */
  height: 550px;
  width: 100%;
  justify-content: flex-end;
}
.in {
  /* border: 3px solid green; */
  color: aliceblue;
  font-size: 72px;
  display: flex;
  justify-content: flex-end;

  padding-right: 65px;
  padding-top: 30px;
  margin-left: 780px;
}
.ain {
  /* border: 3px solid green; */
  color: aliceblue;
  font-size: 23px;
  display: flex;
  justify-content: flex-end;
  margin-left: 780px;

  padding-right: 28px;
  padding-top: 30px;
}
.cin {
  /* border: 3px solid green; */
  color: aliceblue;
  font-size: 23px;
  display: flex;
  justify-content: flex-end;
  margin-left: 780px;

  padding-right: 380px;
  padding-top: 0px;
}
.bts {
  /* border: 3px solid green; */
  color: aliceblue;
  font-size: 23px;
  display: flex;
  justify-content: flex-end;
  margin-left: 780px;

  padding-right: 350px;
  padding-top: 30px;
  text-decoration: none;
}

.button {
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
}

.button1 {
  background-color: transparent;
  color: white;
  border: 2px solid #4caf50;
  text-decoration: none;
  font-size: 20px;
}

.button1:hover {
  background-color: #4caf50;
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  .main {
    display: flex;
    /* border: 3px solid green; */
    height: 550px;
    width: 100%;
    justify-content: flex-end;
  }
  .in {
    /* border: 3px solid green; */
    color: aliceblue;
    font-size: 50px;
    display: flex;
    justify-content: flex-end;

    padding-right: 65px;
    padding-top: 30px;
    margin-left: 480px;
  }
  .ain {
    /* border: 3px solid green; */
    color: aliceblue;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    margin-left: 480px;

    padding-right: 28px;
    padding-top: 30px;
  }
  .cin {
    /* border: 3px solid green; */
    color: aliceblue;
    font-size: 23px;
    display: flex;
    justify-content: flex-end;
    margin-left: 480px;

    padding-right: 380px;
    padding-top: 0px;
  }

  .bts {
    /* border: 3px solid green; */
    color: aliceblue;
    font-size: 23px;
    display: flex;
    justify-content: flex-end;
    margin-left: 480px;

    padding-right: 100px;
    padding-top: 30px;
    text-decoration: none;
  }

  .button {
    border: none;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
  }

  .button1 {
    background-color: transparent;
    color: white;
    border: 2px solid #4caf50;
    text-decoration: none;
    font-size: 20px;
  }

  .button1:hover {
    background-color: #4caf50;
    color: white;
    text-decoration: none;
  }
}
